<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WoW_Realm_SW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WoW_Realm_SW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
      <WoW_Realm_SW.Properties.Settings>
          <setting name="author_url" serializeAs="String">
              <value>https://www.facebook.com/carloscping</value>
          </setting>
          <setting name="xml_filename" serializeAs="String">
              <value>sw_config.xml</value>
          </setting>
          <setting name="version_url" serializeAs="String">
              <value>https://raw.githubusercontent.com/CarlosX/WoW-Realm-SW/master/VERSION.txt</value>
          </setting>
          <setting name="update_url" serializeAs="String">
              <value>https://github.com/CarlosX/WoW-Realm-SW/releases</value>
          </setting>
          <setting name="app_version" serializeAs="String">
              <value>1</value>
          </setting>
      </WoW_Realm_SW.Properties.Settings>
    </applicationSettings>
    <userSettings>
      <WoW_Realm_SW.Properties.Settings>
          <setting name="clear_cache" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="auto_account_login" serializeAs="String">
              <value>False</value>
          </setting>
      </WoW_Realm_SW.Properties.Settings>
    </userSettings>
</configuration>